@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

body {
    display:flex;
    height: 100vh;
}

.navbar{
    display: flex;
    flex-direction: column;
    background-color: #003049;
    justify-content: space-between;
    font-weight: 500;
    width: 12vw;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,2);
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: space ;
    gap: 48px;
    height: 70%
}

/* Estilo para el contenedor izquierdo (logo y nombre) */
.left-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 33%;
    display: flex;
    gap:4px;
    align-items: center;
    color: white;
}

.left-container > h1{
    font-size: 32px;
}

.left-container > img{
    height: 48%;
}

.right-container {
    display:flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 12px
}

.menu-list > li > ul > li > a {
    background-color: #003049;
    color: white;
}

.menu-list > li > a {
    background-color: #003049;
    color: white;
}

.menu-list > li > a:hover {
    background-color: #0143678a;
}

.menu-list > li > ul > li > a:hover {
    background-color: #0143678a;
}

.main-content{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 82vw;
    min-height: 100vh;
}

.crud-container{
    width: 80%;
    padding: 2rem 2rem;
    overflow: auto;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

.crud-container thead th {
    color: #003049;
}

.crud-container h1{
    font-weight: bold;
    font-size: 24px;
    color: #003049;
}

.crud-header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
    border-bottom: 1px solid black;
}

.crud-container table{
    font-size:large;
    width: 100%;
}


tr:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: #002f491b
};

footer {
    display: flex;
    flex-direction: column;
    height: 30%;
    flex-wrap: wrap;
}

div#ologo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px
}

#ologo img{
    width: 100px;
    margin-right: 16px;
    margin-bottom: 12px;
    opacity: 25%;
}

#ologo #roundimg {
    border-radius: 100%;
}

#searchForm {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 1px auto;
}

#searchForm label {
    font-weight: bold;
    margin-right: 10px;
}

#searchForm select,
#searchForm input,
#searchForm button {
    margin-top: 10px;
}

#searchForm select,
#searchForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

#searchForm select:focus,
#searchForm input:focus {
    border-color:#003049;
}

#searchForm button {
    background-color:#003049;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchForm button:hover {
    background-color: #0056b3;
}