@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

.navbar{
    background-color: #003049;
    justify-content: center;
    font-weight: 500;
}

.navbar-brand {
    display: flex;
    justify-content: space-between; /* Separa los dos contenedores principales */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    width: 100%;
    height: 10vh
}

/* Estilo para el contenedor izquierdo (logo y nombre) */
.left-container {
    width:33%;
    height: 100%;
    display: flex;
    gap:8px;
    align-items: center;
    margin-left: 16px;
    color: white;
}

.left-container > h1{
    font-size: 32px;
}

.left-container > img{
    height: 100%;
}

.middle-container {
    display: flex;
    justify-content: center;
    width: 33%;
    font-size: 32px;
    color: white;
}

.right-container {
    display:flex;
    width: 33%;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 16px;
}

.button {
    background-color: #EC1B24;
    color: white;
}

.main-content{
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 80vh;
}

.crud-container{
    width: 80%;
    border: 1px solid black;
    padding: 2rem 2rem;
    overflow: auto;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.3);
    border-radius: 0.5rem;
}

.crud-container h1{
    font-weight: bold;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.crud-header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
    border-bottom: 1px solid black;
}

.crud-container table{
    font-size:large;
    width: 100%;
}

.crud-container button{
    margin: 2px;
}


tbody :hover {
    transition: 320ms;
    background-color: rgba(0, 255, 255, 0.057)
};

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
}

#ologo {
    width: 100px;
    display: flex;
    justify-self: center;
    gap: 10px
}

#ologo img{
    width: 50%;
    border-radius: 100%;
    justify-self: flex-end;
    margin-right: 16px;
    opacity: 20%;
}


